
    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Sign in here</h3>
        <form action="/login" method="POST">
            <div class="inputBox"> 
                <input id="username" type="text" name="username" placeholder="Username">
                <input id="password" type="password" name="password" placeholder="Password"> 
            </div> 
            <input type="submit" name="" value="Login">
        </form> <a href="#">Forget Password<br> </a>
        <div class="text-center">
            <a href="/users/register"><p style="color: #2F3B59;">Sign-Up</p></a>
        </div>
    </div>
