
    <div class="loginBox"> 
        <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Sign Up</h3>
        <form action="/users/register" method="POST">
            <div class="inputBox"> 
                <input id="username" type="text" name="username" placeholder="Username"> 
                <input id="password" type="password" name="password" placeholder="Password">
                <input id="email" type="email" name="email" placeholder="E-mail"> 
                <input id="city" type="text" name="city" placeholder="City"> 
            </div> 
            <input type="submit" name="" value="Register">
        </form>
    </div>
